/* 
    Document   : animation
    Created on : Jun 7, 2012, 11:11:56 PM
    Author     : newe1344
    Description:
        Purpose of the stylesheet follows.
*/

/*
    ANIMATION  
*/

/* motion */

/*.animate {
    transition: width 2s linear;
    -moz-transition: width 2s linear; 
    -webkit-transition: width 2s linear;
    -o-transition: width 2s linear;
}*/

/*.animate.left {
    animation: animLeft 0.7s linear infinite ;
    -webkit-animation: animLeft 0.7s linear infinite ;
    -moz-animation: animLeft 0.7s linear infinite ;
    -ms-animation: animLeft 0.7s linear infinite ;
}

    @keyframes animLeft {
        0% { left: ; }
        100% { background-position: -325px -750px; }
    }

    @-webkit-keyframes animLeft {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-moz-keyframes animLeft {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-ms-keyframes animLeft {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

.animate.right {
    animation: animRight 0.7s linear infinite ;
    -webkit-animation: animRight 0.7s linear infinite ;
    -moz-animation: animRight 0.7s linear infinite ;
    -ms-animation: animRight 0.7s linear infinite ;
}

    @keyframes animRight {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-webkit-keyframes animRight {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-moz-keyframes animRight {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-ms-keyframes animRight {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }*/

/* sprites */



