/* 
    Document   : style
    Created on : Jun 5, 2012, 12:02:26 AM
    Author     : newe1344
    Description:
        Purpose of the stylesheet follows.
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrap {
    position:relative;
}

.button {
    display: block;
    width: 75px;
    height: 75px;
    position: absolute;
    border: 1px solid green;
}

/*
    DEFAULT STYLES
*/

@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: normal;
  src: local('Bevan'), url('https://themes.googleusercontent.com/static/fonts/bevan/v4/EJh9uh2wkQP9ayreC3xPZaCWcynf_cDxXwCLxiixG1c.woff') format('woff');
}

body {
    background-color: fbfbfb;
    color: #2b2b2b;
    font-family: 'Bevan', serif;
}

h1, h2, h3, h4, h5 {
    margin: 12px 0;
}

h1 { font-size: 36px; line-height: 38px; }
h2 { font-size: 24px; line-height: 26px; }
h3 { font-size: 18px; line-height: 20px; }
h4 { font-size: 14px; line-height: 16px; }
h5 { font-size: 12px; line-height: 14px; }
p {
    font-size: 16px;
    line-height: 17px;
    margin: 12px 0;
}

a {
    color: #2e70c4;
    text-decoration: none;
}

/*
    CUSTOM STYLES
*/

#wrap {
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
}

header h1 {
    text-align: center;
}

section article p {
    text-align: center;
}

#world {
    position: relative;
    width: 960px;
    height: 400px;
    background-color: black;
}

#mario {
    position: absolute;
    top: 0px;
    left: 50%;
}

footer {
    text-align: center;
}

footer img {
    width: 200px;
}