/* 
    Document   : turtle
    Created on : Jun 8, 2012, 11:14:09 PM
    Author     : newe1344
    Description:
        Turtle styles
*/

.turtle {
    width: 16px;
    height: 28px;
    background: url(../images/mario-sprite.png) scroll no-repeat black;
    margin: 200px auto;
    position: absolute;
    top: 0;
    left: 50%;
}

.turtle.right {
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
}

.turtle.left {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
}

.turtle.walk {
    animation: walk 0.7s steps(2) infinite ;
    -webkit-animation: walk 0.7s steps(2, end) infinite ;
    -moz-animation: walk 0.7s steps(2, end) infinite ;
    -ms-animation: walk 0.7s steps(2, end) infinite ;
    
    transition: left 20s linear;
    -moz-transition: left 20s linear; 
    -webkit-transition: left 20s linear;
    -o-transition: left 20s linear;
}

    @keyframes walk {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-webkit-keyframes walk {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-moz-keyframes walk {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }

    @-ms-keyframes walk {
        0% { background-position: -295px -750px; }
        100% { background-position: -325px -750px; }
    }